<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ryte - Edit Profile</title>
    <link rel="shortcut icon" href="images/rytelogo.png" type="image/png" sizes="25x25">
    <link rel="stylesheet" href="css/editProfile.css">
    <script src="js/angular.min.js"></script>
    <script src="js/User.js"></script>
    <script src="js/Stories.js"></script>
</head>
<body ng-app="">
    <nav ng-controller="UserController">
        <div class="logo">
            <img src="images/rytelogo.png" alt="" width="50px">
        </div>

        <ul class="basic">
            <li><a href="publicStories.html"><img src="images/opinion.svg" alt="" width = "40px" ></a></li>
            <li><a  href="myStories.html"><img src="images/chat.svg" alt="" width = "35px" ></a></li>
            <li><a  href="pofile.html"><img src="images/user.svg" alt="" width = "35px" ></a></li>
    
        </ul>
        
        <a class="logOut" href="" ng-click="logOut()">
            <img src="images/logout.svg"  alt="" width = "35px">
        </a>

        <ul class="resp">
            <li><a href="publicStories.html">Public Story</a></li>
            <li><a href="myStories.html">My Story</a></li>
            <li><a href="pofile.html">Profile</a></li>
            <li><a href="" ng-click="logOut()" class="logout-btn">Log Out</a></li>
        </ul>

        <div class="menu-toggle">
            <input type="checkbox">
            <span></span>
            <span></span>
            <span></span>
        </div>        
    </nav>

    <div class="container">
        <div class="editProfile-container" ng-controller="UserController" ng-init="displayProfile()" ng-model="profileDet">
            
            <h4 style="color: #003049; font-size: 2em;">  <i class="fas fa-cog"></i> </h4> 
            <br>
            <h5 style="font-size: 1.4em; color: #003049;">
                Edit Your Profile
            </h5>
            <br>
            <div class="dp-potrait">
                <img src="images/dp.svg" alt="">
            </div>
            
            <br>
            <form name="editProfile-form" ng-submit="updateProfile()">
                <input type="text" name="fullname" id="fullname" placeholder="Full Name" ng-model="fullname">
                <input type="text" name="username" id="username" placeholder="Username" ng-model="username" required>
                <input type="email" name="email" id="email" placeholder="Email" ng-model="email" required>
                <input type="password" name="password" id="password" placeholder="Password" ng-model="password" required>
                
                <div class="buttons">
                    <input type="button" value="CANCEL" name="cancel-btn" id="cancel-btn" ng-click="pofile.html">
                    <input type="submit" value="CHANGE" name="change-btn" id="change-btn">
                </div>
                
            </form>
    
        </div>
    </div>

    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src="js/resp_nav.js"></script>
</body>
</html>