<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="images/rytelogo.png" type="image/png" sizes="25x25">
    <link rel="stylesheet" href="css/registerpage.css">
    <title>Ryte - Register</title>
    <script src="js/angular.min.js"></script>
    <script src="js/User.js"></script>
</head>
<body>
    <div class="container">
        <div class="welcome">
            <h1>WELCOME!</h1>
            <img src="images/rytelogo.png" alt="">
        </div>
        <div class="register-container">
            <h4>REGISTER</h4>
            <form ng-app="" ng-controller="UserController" name="regis-form" ng-submit="addUser()">
                <input type="text" name="fullname" ng-model="fullname" id="fullname" placeholder="Full Name">
                <input type="text" name="username" ng-model="username" id="username" placeholder="Username" required>
                <input type="email" name="email" ng-model="email" id="email" placeholder="Email" required>
                <input type="password" name="password" ng-model="password" id="password" placeholder="Password" required>
                
                <input type="submit" value="Register" name="register-btn" id="register-btn"
                ng-disabled="regis-form.username.$dirty && regis-form.username.$invalid || 
                regis-form.email.$dirty && regis-form.email.$invalid || 
                regis-form.password.$dirty && regis-form.password.$invalid">
            </form>
    
            <a href="loginpage.html">Log In</a>
        </div>
    </div>
</body>
</html>